.DS_Store
.idea/
*.log
*.iml
yarn.lock
package-lock.json
node_modules/

# Ignore optional external libraries
# import pjax(YZH2002/20220820)
source/lib/*

# Track internal libraries & Ignore unused verdors files
source/lib/font-awesome/less/
source/lib/font-awesome/scss/
!source/lib/font-awesome/

!source/lib/anime.min.js

!source/lib/velocity/
# import pjax(YZH2002/20220820)
!source/lib/pjax/
